# Created by https://www.gitignore.io/api/kdevelop4,c++
# [2015-09-25; cl] added *.eep and *.hex
# [2015-10-03; cl] added qt creator files; vcd trace files
# [2016-06-08; cl] added doc/build
# [2016-06-09; cl] added gh-pages

doc/build
gh-pages

*.vcd

### Qt Creator ###
*.autosave
*.pro.user

### KDevelop4 ###
*.kdev4
.kdev4/


### C++ ###
# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.eep
*.hex

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

